{% extends "base.html" %}

{% block content %}
<header class="arm-page-hero">
    <h1>Change password</h1>
    <p>Update the admin account password for this ARM install.</p>
</header>

<div class="arm-search-form">
    <form id="form1" name="form1" method="post" action="update_password">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="arm-label" for="pw-user">Username</label>
            <input id="pw-user" type="text" class="form-control" name="username"
                   value="{{ user }}" readonly>
        </div>
        <div class="form-group">
            <label class="arm-label" for="pw-old">Old password</label>
            <input id="pw-old" type="password" class="form-control" name="old_password">
            {% for error in form.old_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="form-group">
            <label class="arm-label" for="pw-new">New password</label>
            <input id="pw-new" type="password" class="form-control" name="new_password">
            {% for error in form.new_password.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <button class="btn btn-primary btn-lg btn-block" form="form1" type="submit">Update password</button>
    </form>
</div>
{% endblock %}
