{% extends "base.html" %}
{% block title %}Parameter Changer{% endblock %}
{% block nav %}{{ super() }}{% endblock %}
{% block content %}
<header class="arm-page-hero">
    <h1>Edit rip settings</h1>
    <p>Adjust MakeMKV / rip parameters for this job.</p>
</header>

<div class="arm-search-form">
    <form id="changeParams" name="changeParams" action="" method="get" novalidate>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label class="arm-label">{{ form.RIPMETHOD.label }}</label>
            {{ form.RIPMETHOD(class="form-control") }}
        </div>
        <div class="form-group">
            <label class="arm-label">{{ form.DISCTYPE.label }}</label>
            {{ form.DISCTYPE(class="form-control") }}
        </div>
        <div class="form-group">
            <label class="arm-label">{{ form.MAINFEATURE.label }}</label>
            {{ form.MAINFEATURE(class="form-control") }}
        </div>
        <div class="form-group">
            <label class="arm-label">{{ form.MINLENGTH.label }}</label>
            {{ form.MINLENGTH(class="form-control") }}
            <div class="invalid-tooltip" id="MINLENGTH_INVALID">errors</div>
        </div>
        <div class="form-group">
            <label class="arm-label">{{ form.MAXLENGTH.label }}</label>
            {{ form.MAXLENGTH(class="form-control") }}
            <div id="MAXLENGTH_INVALID" class="invalid-tooltip">Title can't be blank</div>
        </div>
        <input name="mode" value="change_job_params" hidden>
        <input name="config_id" value="{{ config.CONFIG_ID }}" hidden>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Save settings</button>
    </form>
</div>

<script type="application/javascript">
    $(function () {
        function sendSettings(formToSend, sendTo) {
            $.ajax({
                type: 'GET',
                url: sendTo,
                data: formToSend.serialize()
            }).done(function (data) {
                if (data.success === true) {
                    var dt = new Date();
                    var time = `${dt.getHours()}:${dt.getMinutes()}:${dt.getSeconds()}`;
                    $('.toast-body').html(`Saved ${data.form} settings at ${time}`);
                    $('.toast').toast('show');
                }
            });
        }

        $("#changeParams").submit(function (e) {
            e.preventDefault();
            sendSettings($("#changeParams"), "/json");
        });
        {% for field, errors in form.errors.items() %}
            $("[name='{{field}}']").addClass("is-invalid");
            $("div#{{ field }}_INVALID").html("{{ errors }}");
        {% endfor %}
    });
</script>
{% endblock %}
