{% if authenticated %}
    {% extends "base.html" %}
{% else %}
    {% extends "support/base_simple.html" %}
{% endif %}
{% block content %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Abandon this job?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="m-body">This job will be abandoned. Are you sure?</p>
                </div>
                <div class="modal-footer">
                    <button id="save-no" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button id="save-yes" type="button" class="btn btn-primary">Yes</button>
                </div>
            </div>
        </div>
    </div>

    <header class="arm-home-hero">
        <div>
            <h1>Active rips</h1>
            <p>Live jobs across this machine. Insert a disc to start.</p>
        </div>
        <span class="arm-live-badge">Live</span>
    </header>

    <div id="rips-empty" class="arm-rips-empty is-visible">
        <h2>No active rips</h2>
        <p>Insert a disc to begin ripping. System status is below.</p>
    </div>

    <div id="joblist" class="arm-rips-grid card-deck"></div>

    <div id="children" class="mt-3"></div>

    <section class="arm-sys-strip">
        <div class="arm-section-label">System</div>
        {% include 'settings/sysinfo.html' %}
    </section>

    <script type="application/javascript" src="static/js/common.js"></script>
    <script type="application/javascript" src="static/js/jobRefresh.js"></script>
    <script type="application/javascript">
    $(document).ready(function () {
        window.setInterval(refreshJobs, {{ armui_cfg['index_refresh'] }});
    });
</script>
{% endblock %}
{% block js %}{{ super() }}{% endblock %}
